*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background-color: #0c325a ;
}
/* definisce margin auto */
.marg-a{
    margin: auto;
}
/* inserisce background uomo cravata/prima sezione*/
.cont-img{
    background-image: url(img/background-header.png);
    background-size: cover;
    background-position: center;
    width: 79%;
    height: 70vh;
    

}
/* contenitore grigio */
.cont-grigio{
    width: 79%;
    padding: 30px;
    background-color: silver;
    text-align: center;
}
/* contenitore-nav */
.cont-nav{
    width: 60%;
    /* height: 5vh; */
    /* background-color: silver; */
    display: inline-block;
    
}

.cont-nav-dex{
    width: 38%;
    /* height: 5vh; */
    /* background-color: red; */
    display: inline-block;
}

/* rimuove i pallini */
ul{
    list-style-type: none;
    width: 100%;
}
/* proprietà scelte nav sinistra */
.cont-nav ul li,
.cont-nav ul li a{
    float: left;
    height: 50px;
    line-height: 50px;
    margin-left:10px;
    text-decoration: none;
    color: white;
 }

 /* proprità scelte nav destra*/

.cont-nav-dex ul li,
.cont-nav-dex ul li a{
    float: left;
    height: 50px;
    line-height: 50px;
    margin-left:20px;
    text-decoration: none;
    color: white;
 
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
/* bottone di login */
.login-b{
    color: white;
    border-color: white;
    border-style: none;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: transparent;
}
/* proprietà bottoni verdi */
.green-button{
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: rgb(71, 199, 33);

}

.cont-int .green-button{
    padding: 20px 20px;
}



.cont-int{
    width: 50%;
    /* background-color: red; */
    transform: translateY(+50%);
    }

.text-c{
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}
/* contenitore seconda sezione */
.cont-white{
    width: 79%;
    background-color: white;
    padding: 30px;
}

.colonna{
    width: 33.08%;
    display: inline-block;
    /* background-color: blue; */
}
/* contiene l'immagine della colonna */
.cont-img-colonna{
    width: 100%;
    height:250px;
    /* background-color: brown; */
}

.cont-img-colonna img{
    width: 100%;
    height: 100%;
}

.testo-verde{
    color:rgb(71, 199, 33);
    
}

/* hr più corto */
.contenitore-barra-del-porco-demonio{
    width: 100%;
    padding: 50px;
}

.text-align{
    text-align: center;
}

.width-79{
    width: 79%;
}

.width-48{
    width: 49.8%;
    /* background-color: greenyellow; */
    height: 400px;
}

.montagna{
    width: 100%;
    height: 100%;
}

.i-b{
    display: inline-block;
}

.marg-b{
    margin-bottom: 20px;
}

.back{
    /* background-color: hotpink; */
}

.w{
    width: 95%;
    background-color: indigo;
}

.vertical-align-m{
    vertical-align: top;
}

.pdg-10px{
    padding: 10px;
}

.w-100{
    width: 100%;
}

/* .prova{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
} */

footer .cont-grigio{
    text-align: left;
    height: 8vh;
}

footer .cont-grigio h1{
    float: left;
 
}

footer .cont-grigio div{
    float: right;
}

.p-fix{
    position: fixed;
    bottom: 0;
    right: 140px;
}